.banner-blu {
    height: 1rem;
}

.logo-img {
    width: 4rem;
}

li {
    font-size: 0.8rem;
}

.jumbotron {
    background-image: url(../../img/jumbotron.jpg);
    background-size: cover;
    height: 25rem;
}
